<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tranhoanghuan.it.com.quanlytinhtientaphoa">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Quản lý tính tiền"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:label="Quản lý tính tiền"/>
        <activity
            android:name=".TinhtienActivity"
            android:label="Tính tiền"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ThongkeActivity"
            android:label="Thống kê"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".QuantriActivity"
            android:label="Quản trị"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Add_Activity"
            android:label="Thêm hàng hóa"
            android:parentActivityName=".QuantriActivity" />
        <activity
            android:name=".SuaHH"
            android:label="Sửa hàng hóa"
            android:parentActivityName=".QuantriActivity" />
        <activity android:name=".SignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUpActivity"
            android:label="Đăng ký"></activity>
    </application>

</manifest>