<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tranhoanghuan.it.com.quanlytinhtientaphoa">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Quản lý tính tiền"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Add mobile vision dependencies and version to metadata -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity
            android:name=".MainActivity"
            android:label="Quản lý tính tiền"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TinhtienActivity"
            android:label="Tính tiền"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ThongkeActivity"
            android:label="Thống kê"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QuantriActivity"
            android:label="Quản trị"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Add_Activity"
            android:label="Thêm hàng hóa"
            android:parentActivityName=".QuantriActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified" />
        <activity
            android:name=".SuaHH"
            android:label="Sửa hàng hóa"
            android:parentActivityName=".QuantriActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified" />
        <activity
            android:name=".SignInActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="Đăng ký"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TinhtienBangtay"
            android:label="Tính tiền bằng tay" />
        <activity
            android:name=".ChitietHoadon"
            android:label="Chi tiết hóa đơn" />
        <activity android:name=".Thongke_tongquat"
            android:label="Thống kê tổng quát"
            android:parentActivityName=".ThongkeActivity"/>
        <activity android:name=".ChitietThongke"
            android:label="Thống kê chi tiết"
            android:parentActivityName=".Thongke_tongquat"></activity>
    </application>

</manifest>